.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(var(--repeatNumber, 2), 1fr); */

  justify-content: center;
  gap: 10px 0px;
  flex-wrap: wrap;
}

.btn {
  border-radius: 20px;
  height: 70px;
  width: 120px;
  border-color: grey;
  box-shadow: 1px 1px;
}

.btn:hover {
  background-color: gray;
  color: white;
}

.btn:active {
  border-color: white;
}

.reset {
  color: red;
}
