.container {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  justify-content: center;
  gap: 10px 0px;
}

.btn {
  border-radius: 20px;
  height: 70px;
  width: 120px;
  border-color: grey;
  box-shadow: 1px 1px;
}

.btn:hover {
  background-color: gray;
  color: white;
}

.btn:active {
  border-color: white;
}

.reset {
  color: red;
}
