.gallery {
  display: flex;
  flex-direction: column;
}

.row {
  bottom: 0;
  right: 0;
  display: grid;
  position: fixed;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  width: 40%;
  grid-auto-flow: column;
}
.row > div {
  scroll-snap-align: start;
  border-color: rgb(71, 238, 71);
  border-width: 6px;
  max-width: 100%;
  max-height: 100%;
}

.column {
  width: 300px;
  overflow: hidden;
}
.row img {
  width: 320px;
}
.row img:hover {
  transition: transform 0.2s;
  transform: scale(1.5);
}

.column {
  border-style: solid;
}

@media (max-width: 768px) {
  .row {
    right: auto;
    width: 100%;
    box-shadow: 30px 0px 30px 0px rgb(96, 248, 96);
  }
  .row > div {
    box-shadow: 30px 0px 30px 0px rgb(96, 248, 96);
    border-width: 0px;
    padding: 0 2px 0 2px;
  }
}
